.btn {
    background-color: aqua;
    border-radius: 30%;
    border-style: none;
    height: 30px;
}

.text-white {
    color: white;
}

.text-shadow {
    text-shadow: 1px 1px black;
}

.bg-shadow {
    box-shadow: 1px 1px black;
}

.anim-opacity {
    animation-name: animationopacity;
    animation-duration: 1s;
}

.anim-opacity-infinity {
    animation-name: animationopacityinf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animationopacity {
    from{opacity: 0%;}
    to{opacity: 100;}
}

@keyframes animationopacityinf {
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 100%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
    }
}

.spinner-default {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: black;
  }
  .spinner-default:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 132, 255);
    border-color: rgb(0, 132, 255) transparent rgb(0, 132, 255) transparent;
    animation: spinneranimdefault 1.2s linear infinite;
  }
  @keyframes spinneranimdefault {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.spinner-original {
    width: 40px;
    height: 40px;
    border: 5px solid #d3d3d3;
    border-bottom-color: rgb(0, 132, 255);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* İsteğe bağlı: Tam sayfa yüksekliği için */
  }

.full-center > * {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-white {
    color: white;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-gray {
    color: gray;
}
